* { /* sternchen selektor */
	box-sizing: border-box;
}


html, body, .gross, .klein, .text,  a, p {
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	font-family: 'SeroPro-Light';
	text-decoration: none;
	color: black;
}



.gross {
	font-size: 24pt;
	margin-top: -20px;
	
}


.klein{
	font-size: 17pt;
}


.bold{
	font-family: 'SeroPro-Bold';
}

.text{
	font-size: 12pt;
	line-height: 18pt;
}


p{
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	font-family: 'SeroPro-Light';
	line-height: 25pt;
	margin-top: 20pt;
	font-size: 16pt;
	margin-bottom: 8pt;

}

.p_top{
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	font-family: 'SeroPro-Light';
	line-height: 25pt;
	margin-top: 0px;
	font-size: 16pt;
	margin-bottom: 8pt;

}

/*1200 mal 900px*/



.clear{
	clear: both;
}



.seil{
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	font-family: 'SeroPro-Bold';
	
	

}






/*boxen spalte1*/

.spalte1{
	float: left;
}
		.ausdauer{
			width: 290px;
			height: 85px;
			background-color: #FFF;
			margin-top: 54px;
			margin-left: 100px;
			padding: 0px;

			
		}

		.balance{
			width: 290px;
			height: 85px;
			background-color: #FFF;
			margin-left: 100px;
			
		}

		.fitness_und_kraft{
			width: 290px;
			height: 85px;
			background-color:#FFF;
			margin-left: 100px;
			
		}

		.geschick{
			width: 290px;
			height: 85px;
			background-color: #FFF;
			margin-left: 100px;
			
		}




.spalte2{
	float: left;
	margin-top: 60px;
	width: 290px;
	height: 42.5px;
	background-color:#FFF;

}
		
		.seilspringen{
			width: 290px;
			height: 42.5px;
			background-color:#FFF;


				}


		.bandgymnastik{
			width: 290px;
			height: 42.5px;
			background-color: #FFF;
		}

		.seiltanz{
			margin-top: 85px;
			width: 290px;
			height: 42.5px;
			background-color:#FFF;
		}

		.slagline{
			width: 290px;
			height: 42.5px;
			background-color: #FFF;
		}

		.seilziehen{
			margin-top: 170px;
			width: 290px;
			height: 28.333px;
			background-color:#FFF;
		}

		.tubes{
			width: 290px;
			height: 28.333px;
			background-color: #FFF;
		}

		.robe_training{
			width: 290px;
			height: 28.333px;
			background-color:#FFF;
		}

		.gummitwister{
			margin-top: 255px;
			width: 290px;
			height: 42.5px;
			background-color: #FFF;
		}

		.handtwister{
			width: 290px;
			height: 42.5px;
			background-color:#FFF;
		}

				





.spalte3{
	float: left;
	margin-top: 60px;
	overflow: auto;
	width: 520px;
}

		.text_seilspringen{

			width: 500px;
			height: 480px;
			background-color:#FFF;

						
						}

		.text_bandgymnastik{
			width: 500px;
			height: 480px;
			background-color: #FFF;
		}


.spalte4{
	float: left;
	margin-top: 145px;
	overflow: auto;
	width: 520px;
}

		.text_seiltanz{
			
			width: 500px;
			height: 480px;
			background-color:#FFF;
		}

		.text_slagline{
			
			width: 500px;
			height: 480px;
			background-color: #FFF;
		}


.spalte5{
	float: left;
	margin-top: 230px;
	overflow: auto;
	width: 520px;

}
		
		.text_seilziehen{
			
			width: 500px;
			height: 480px;
			background-color: #FFF;
		}

		.text_tubes{
			
			width: 500px;
			height: 480px;
			background-color: #FFF;
		}

		.text_robe_training{
			
			width: 500px;
			height: 480px;
			background-color:#FFF;
		}


.spalte6{
	float: left;
	margin-top: 315px;
	overflow: auto;
	width: 520px;
}
		.text_gummitwister{
			width: 500px;
			height: 480px;
			background-color: #FFF;
		}

		.text_handtwister{
			
			width: 500px;
			height: 480px;
			background-color:#FFF;
		}



		.footer {

		
		color: #000;
		display: block;
		font-size: 420px;
		margin-left: 0px;
		position: absolute;
		float: left;
		position:fixed;
		bottom: -143px;
		margin: 0px;
		padding: 0px;
		border-radius: 0px;
		left: -33px;
		letter-spacing: -10px;


    

		}













